/* 1. 전체선택자 
* { 속성 : 값; ...}
2. 타입선택자
태그명 { 스타일 규칙 }
태그명1, 태그명2 { 스타일 규칙 }
3. 클래스 선택자
.클래스명 { 스타일 규칙 }
4. id선택자
#아이디명 { 스타일 규칙 } */

body {
  font-size: 50px;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 20px;
}
